@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100&family=Nova+Round&display=swap');

/* 
font-family: 'Barlow', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Nova Round', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
    color: #000000;
}

html {
    overflow-x: hidden;
    background-color: #F0F8FF;
}

main{
    width: 90%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.visible{
    display: flex !important;
    visibility: visible !important;
}

.hidden{
    display: none !important;
    visibility: hidden !important;
}
/*----- Start Navbar Style -----*/
.menu{
    background: linear-gradient(-145deg, #6CD0FF, #1C2E4C) !important;  
    height: 4.375rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: 3000 !important;
}

.menu_logo img{
    width: 30%;
    cursor: pointer;
    padding: 28px;
}

.menu_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    max-width: 75rem;
    height: 100%;
}

.menu_links{
    height: 100%;
    transition: transform .5s;
    display: flex;
    background-color: none;
    margin-top: 1%;
}

.menu_item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu_item--active{
    --transform: rotate(0);
    --background: none;
}

.menu_item--show{
    background-color: none;
}

.menu_item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu_item::before{
    content: "";
    height: 3px;
    width: 0%;
    background:#FFFFFF;
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: 0.4s ease-out;
}

.menu_item:hover::before{
    width: 100%;
}

.menu_nesting{
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background: linear-gradient(-145deg, #6CD0FF, #1C2E4C) !important;  
}

.menu_link{
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    padding: 0 1.875rem;
    display: flex;
    height: 100%;
    align-items: center;
    background-color: none;
}

.menu_link:hover{
    color: #1c2e4cc0;
}

.menu_arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: .1875rem;
}

.menu_link--inside{
    padding: .9375rem 3.125rem .9375rem .625rem;
}

.menu_link--inside:hover{
    color: #1c2e4cc0;
}

.menu_hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 .9375rem;
    cursor: pointer;
    display: none;
}

.menu_img{
    display: block;
    width: 2.25rem;
}

nav{
    background: linear-gradient(-45deg, #6CD0FF, #1C2E4C) !important;
    box-shadow: 0 2px 10px #1c2e4cc0;
}

/* nav.active > ul > li > a {color: #FFFFFF; font-weight: bold;}
nav.active > ul > li > a:hover {color: rgba(255, 255, 255, 0.925); font-weight: bold;} */

nav .menu_nesting{
    background: linear-gradient(-45deg, #6CD0FF, #1C2E4C) !important;
    box-shadow: 0 2px 10px #1c2e4cc0;
}


/*----- End Navbar Style -----*/

.btnWsp{
    position: fixed;
    bottom: 3.125rem;
    right: 1.25rem;
    z-index: 1500 !important;
}

.up{
    position: fixed;
    line-height: 64px;
    bottom: 100px;
    right: 30px;
    text-align: center;
    z-index: 100;
}

.repair{
    display: flex;
    margin: 0 auto;
}

.headline{
    background: linear-gradient(-145deg, #100a25dc, #090416) !important;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    z-index: 0;
}
.logo-slogan{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}
.logo-slogan img{
    width: 45%;
    transform: rotate(-15deg);
}
.logo-slogan img:hover{
    transform: scale(1.2);
}
.logo-slogan p{
    width: 37%;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
}

.text-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: -150px 150px;
    padding: 30px;
    gap: 30px;
    color: #FFFFFF;
}

.text-home h1{
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Nova Round', cursive;
}
.text-home h6{
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Nova Round', cursive;
}
.text-home h5{
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Nova Round', cursive;
}

#company, #services, #projects, #contact{
    padding: 2px;
}

.page{
    display: flex;
    margin: 110px auto;
}

h1{
    text-align: center;
    font-weight: bold !important;
    font-size: 50px !important;
    color: #000000;
    font-family: 'Nova Round', cursive;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px auto;
}
.section h2{
    text-align: start;
    margin: 15px 0;
    color: #000000;
    /* font-weight: bold; */
    font-size: 38px;
    padding: 2px;
    font-family: 'Nova Round', cursive;
}

.section p{
    margin: 0 auto;
    padding: 2px;
}

.company{
    width: 60%;
    font-size: 18px;
}

.company article div{
    box-shadow: 3px 3px inset #1C2E4C;
    border-radius: 15px;
    margin: 65px auto;
    padding: 30px;
}

.content-line{
    display: flex;
    justify-content: center !important;
}
.line{
    width: 2px;
    height: 20vh;
    background-color: #000000;
}

.services article{
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 70px;
}

.card-services{
    width: 40%;
    padding: 55px;
    margin: 5px auto;
    box-shadow: 2px 2px 4px  4px #1ba326;
    border-radius: 8px 30px 3px 30px;
}
.card-services:hover{
    transform: scale(1.1);
}
.card-services h3{
    color: #000000;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
.card-services a{
    color: #1ba326;
}

.projects article{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
}

/* .card-projects{
    width: 40vw;
    padding: 55px;
    margin: 5px auto;
    border: 2px solid #cacaca;
    border-radius: 8px;
    box-shadow: 5px 5px #cacaca;
    background-color: #1c2e4c93 !important;
    color: #000000;
}

.card-projects img{
    display: flex;
    margin: 20px auto;
} */

#contact{
    flex-direction: row;
    margin: 0 auto;
}
form label{
    color: #000000 !important;
    letter-spacing: 2px !important;
}

form button{
    background: linear-gradient(-60deg, #6CD0FF, #1C2E4C) !important;
    color: #000000 !important;
    font-weight: bold !important;
    font-size: 18px !important;
    border-radius: 10px !important;
}


/* projects style */

.credit {
   position: absolute;
   bottom:20px;
   left:20px;
   color:inherit;
}

.options {
   display:flex;
   flex-direction:row;
   align-items:stretch;
   overflow:hidden;
   min-width:600px;
   max-width:900px;
   width:calc(100% - 100px);
   height:400px;
}
      
.option {
  position: relative;
  overflow:hidden;
  min-width:60px;
  margin:10px;
  background: url(../assets/logo/tcc.png);
  background-color: #1ba32644 !important;
  background-size: auto !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  cursor: pointer;
  transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.option:nth-child(2){
    background: url(../assets/logo/cautech.png);
}
.option:nth-child(3){
    background: url(../assets/logo/lmr.png);
}
.option:nth-child(4){
    background: url(../assets/logo/Supersol.png);
}
.option:nth-child(5){
    background: url(../assets/logo/tecnorick.png);
}

.active {
    flex-grow:10000;
    transform:scale(1);
    max-width:600px;
    margin:0px;
    border-radius:40px;
    background-size: auto !important;
}

.label {
    bottom:20px;
    left:20px;
}

.shadow {
    box-shadow:inset 0 -120px 120px -120px #000000, inset 0 -120px 120px -100px #000000;
} 

.info div {
    left:0px;
    opacity:1;
}

.option:not(.active){
    border-radius: 10px;
}

.shadow {
    position: absolute;
    bottom:0px;
    left:0px;
    right:0px;
    height:120px;
    transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.label {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    position: absolute;
    right:0px;
    height:40px;
    transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.icon a {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    min-width:90px;
    max-width:90px;
    gap: 10px;
    /* margin-right: 250px; */
    height:40px;
    border-radius:100%;
    color: #000000;
}
.info {
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-left:10px;
    color:#000000 !important;
    white-space: pre;
}
.info div {
    position: relative;
    transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
}
.main {
    font-weight:bold;
    font-size:1.2rem;
}
.sub {
    transition-delay:.1s;
}
            
         
      
   

